/* Resource page  */
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* color scheme*/
:root {
  --color1: #f4aaa4;
  --color2: #ec9f80;
  --color3: #c49792;
  --color4: #a5092d;
  --color5: #79aed3;
  --color6: #31393b;
  --color7: rgb(162, 159, 159);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.navbar1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navbar1 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}

.navbar1 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: var(--color6);
  position: relative;
  text-decoration: none;
}

.navbar1 a:before,
.navbar1 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.navbar1 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid var(--color4);
  border-top: 3px solid var(--color4);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.navbar1 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid var(--color4);
  border-bottom: 3px solid var(--color4);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.navbar1 a:hover,
.navbar1 .current a {
  color: #0e0d0d;
}

.navbar1a:hover:before,
.navbar1 .current a:before,
.navbar1 a:hover:after,
.navbar1.current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/* background image and login panel */
.bg-img {
  background-image: url("/images/petpaws.jpeg");
  background-size: contain;
  height: 30vh;
  width: 99vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Add styles to the form container */
.container {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

body {
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;
    min-height: 50vh; */
}

header h1 {
  color: var(--color4);
  font-size: 4em;
  color: var(--color4);
  text-align: center;
  margin: 0;

}

h2 {
  color: var(--color4);
  text-align: center;
  margin: 0;
  font-size: 4em;
}

.footer {

  color: var(--color6);
  padding: 10px;
  /* Add some padding */
  position: end;
  /* Fix the footer at the bottom of the page */
  width: 100%;
  /* Full width */
  bottom: 0;
}

/* contains all the link items  */
.resource-shelter {
  /* display: grid;
    grid-template-columns: 50% 50%; */
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;


}

/* contains the first link item, Kat had this seperate, im not sure why but didnt want to mess with it. */
.resource-item {
  display: flex;
  justify-content: flex-start;
  padding: 20px;

}

/* contains the last 3 links */
.resource-Care {
  display: flex;
  justify-content: flex-start;
  padding: 20px;

}

/* set the images for the links to the same size, also affected the logo at the bottom. need to revisit to see what size the group wants  */
img {
  width: 200px;
  height: 200px;
}

/* Moves the footer below the link items  */
.resourcesFooter {
  display: flex;
  justify-content: flex-end;
}

#gifImage{
  height: 50%;
  width: 50%;
}
/* text nexts to link photos explaining what they do  */
p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}
@keyframes rainbow {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.hidden-row {
  display: none;
}
#hiddenText,
#hiddenText3,
#scoreboard {
  display: none;
}
#hiddenText2{
  display: none;
  font-size: 50px;
  background-color: red;
  animation-name: rainbow;
  animation-duration: 4s;
}