* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: var(--color7);
  }
  /* color scheme*/
  :root {
    --color1: #f4aaa4;
    --color2: #ec9f80;
    --color3: #c49792;
    --color4: #a5092d;
    --color5: #79aed3;
    --color6: #31393b;
    --color7: rgb(162, 159, 159);
  }
  h1{
    text-align: center;
    background-color: var(--color3);
  
    
  }

  
  /** nav bar for main page- same as all pages*/
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
  .navbar1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--color3);
  }
  .navbar1 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: var(--color3);
  }
  .navbar1 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1em;
    padding: 0;
  }
  .navbar1 a {
    padding: 0.5em 0.8em;
    margin: 0.2em 0;
    display: block;
    color: var(--color6);
    position: relative;
    text-decoration: none;
  }
  .navbar1 a:before,
  .navbar1 a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: "";
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
  }
  .navbar1 a:before {
    left: 0;
    top: 0;
    border-left: 3px solid var(--color1);
    border-top: 3px solid var(--color1);
    -webkit-transform: translate(100%, 50%);
    transform: translate(100%, 50%);
  }
  .navbar1 a:after {
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--color4);
    border-bottom: 3px solid var(--color4);
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  .navbar1 a:hover,
  .navbar1 .current a {
    color: #0e0d0d;
  }
  .navbar1a:hover:before,
  .navbar1 .current a:before,
  .navbar1 a:hover:after,
  .navbar1.current a:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
  
  /* background image and login panel */
  .leo_bg-img {
  
    background-image: url("/images/leo.jpg");
    background-size: contain;
    height: 70vh;
    width: 99vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 200px;
    padding-bottom: 40px;

  }
  button{
    background-color: var(--color3);
    font-size: medium;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: #31393b;
    box-sizing: border-box;


}
  button:hover{
    background-color: var(--color4);
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    box-shadow: #31393b;
  }
  label{
    font-size: medium;
  }
  input{
    size: 40px;
  }

/* body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas: 
      "left right"
      "paragraph paragraph"
      "leftB rightB"
      "footer footer";
  } */

#nameInput{
  align-content: center;
  margin-left: 40%;
  
}

#enterText{
  font-size: larger;
}

#gifImage{
  align-items: center;
  max-width: 250px;
  padding-left: 45%;
}

.footer {
  position: fixed;
  grid-area: footer;
  color: var(--color6);
  padding: 10px; /* Add some padding */
  width: 100%; /* Full width */
  bottom: 0;
}