<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aboutus.css}" />
    <title>About Us</title>
</head>

<header>
    <div class="bg-img">
    
        <h1>Pet Match Maker</h1>
    
            <div class="container">
                <nav class="menu-content">
                    <ul class="navbar1">
                        <li><a href="/">Home</a></li>
                        <li><a th:href="@{/quiz}">Quiz</a></li>
                        <li><a href="/resource">Resources</a></li>
                        <li><a href="/aboutus">About us</a></li>
                        <li><a href="/autologin">Auto Login</a></li>
                        <li><a href="/virtualpet">Virtual Pet</a></li>
                    </ul>
                </nav>
            </div>
    </div>
</header>

<body>
    <main>
        <div class="indv">
            <h2>John Franzen</h2>
            <img class="profileImg" src="./images/john_HS.jpg">
            <div class ="description">
            <p>Dedicated and detail-oriented professional with foundational skills 
                in software development. Experienced as a firefighter 
                and paramedic, bringing practical experience in emergency response 
                and crisis management. Extensive background as a Navy Hospital Corpsman, 
                providing critical medical care and demonstrating exceptional teamwork, 
                problem-solving, and leadership skills in high-pressure environments.  
                Eager to leverage technical aptitude and diverse background to excel in a 
                software development role. Committed to continuous improvement and contributing 
                effectively to project success through innovation and collaboration.</p>           
            
                <P>John spends his free time with his herd of animals, flock of chickens, 
                    litter of cats, and his border collie Riley</p>
               
                    <p class = "aboutUsIcon"> <a href=""> <img class="portfolioIcon" src="Images/portfolio.jpg" alt="Portfolio"></a>
                        <a href="https://www.linkedin.com/in/john-franzen-1796462ba/"> <img class="linkedInIcon" src="Images/LinkedIn_icon.svg.png" alt="LinkedIn"></a>
                        <a href=""> <img class="gitHubIcon" src="Images/github.jpg" alt="GitHub"></a>
                    </p>
                 </div>
        </div>
        

        <div class="indv">
            <h2>Kat<br> Killinger</h2>
            <img class="profileImg"  src="./images/KK_hs.jpg">
            <div class="description">
            <p>As a creative with passion for visual storytelling, Kat seamlessly bridges 
                the worlds of web development and photography. 
                With a background in both fields, she brings a unique perspective to every project,
                 blending technical expertise with an artistic eye.
                With a keen focus on front-end development. Outside of the digital realm, 
                Kat is also a talented photographer, 
                capturing moments and emotions through her lens. Combining their technical skills with her 
                creative vision, Kat is dedicated to crafting meaningful experiences that resonate with
                 audiences and hopes to leave a lasting impression. 
                 <p>She also spends her down time with her two dogs Oliver and Harvey which have been a huge inspiration for this project.</p>
                
              
           <p class = "aboutUsIcon"> <a href=""> <img class="portfolioIcon" src="Images/portfolio.jpg" alt="Portfolio"></a>
            <a href=""> <img class="linkedInIcon" src="Images/LinkedIn_icon.svg.png" alt="LinkedIn"></a>
            <a href=""> <img class="gitHubIcon" src="Images/github.jpg" alt="GitHub"></a>
        </p>
          </div>
        </div>
      
        <div class="indv">
            <h2>Travis Ruopp</h2>
            <img class="profileImg" src="./images/Travis_HS.jpg" >
            <div class="description">
            <p>Travis is a uniquely experienced professional with 16+ years of IT experience.
                He has a diverse background in community management, game development, project
                coordination, and software development.</p>
            <p>Travis is skilled in Java, CSS, HTML, C#, JavaScript, Agile software, Unreal Game
                Engine, Unity Game Engine, and full-stack development. Travis has helped push one
                game title through development. That game sold over 1 million copies and had a 95% positive user review
                rate.</p>
            <p>Travis is a shrimp, snail, and fish breeder, he owns over 1000 aquatic animals.</p>

            <p class = "aboutUsIcon"> <a href="https://travisruopp.github.io/"> <img class="portfolioIcon" src="Images/portfolio.jpg" alt="Portfolio"></a>
                <a href="https://www.linkedin.com/in/travisruopp/"> <img class="linkedInIcon" src="Images/LinkedIn_icon.svg.png" alt="LinkedIn"></a>
                <a href="https://github.com/travisruopp"> <img class="gitHubIcon" src="Images/github.jpg" alt="GitHub"></a>
            </p>
            </div>
        </div>

        <div class="indv">
            <h2>Walta Yoseph</h2>
            <img class="profileImg" src="./images/walta_HS.jpg">
        <div class="description">
            <p>Walta is a passionate Java developer with a rich professional background 
                in the finance industry and a strong educational foundation in environmental science.
                 Her diverse blend of experiences equips her with a unique perspective that allows 
                 her to think outside the box when tackling challenges.
                Walta excels not only in technical proficiency but also in fostering a collaborative
                 atmosphere. She takes great pleasure in building relationships and understanding 
                 the people she works with, recognizing that effective teamwork is essential for success.</p>
                 <p>
                In her spare time, Walta enjoys exploring new technologies, 
                honing her skills in web development, and spending quality time with her two cats,
                who have a knack for cosplaying as humans.</p>
                <p class = "aboutUsIcon"> <a href=""> <img class="portfolioIcon" src="Images/portfolio.jpg" alt="Portfolio"></a>
                    <a href="https://www.linkedin.com/in/walta-yoseph/"> <img class="linkedInIcon" src="Images/LinkedIn_icon.svg.png" alt="LinkedIn"></a>
                    <a href=""> <img class="gitHubIcon" src="Images/github.jpg" alt="GitHub"></a>
                </p>
        </div>
        </div>

    
    </main>
</body>
<footer class="footer">
    <p style="font-size: 24px;">&copy; Pets To Fill Your Heart
    </P>

</footer>

</html>