<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/createlogin.css}" />
    <title>Login</title>
</head>
<body>
    <div class="bg-img">
        
        <div class="container">
        <nav class="menu-content">
          <ul class="navbar1">
            <li><a href="/">Home</a></li>
            <li><a th:href="@{/quiz}">Quiz</a></li>
            <li><a href="/resource">Resources</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/virtualpet">Virtual Pet</a></li>
          </ul>
        </nav>
      </div>
      <h1>Create a User Login</h1>
<div class="create-box">
    <form action="#" th:action="@{/createlogin}" th:object="${loginUser}" method="post">
    <label>Enter your Name</label>
    <input type="text" placeholder="Name" th:field="*{name}">
    <label>Enter your Email</label>
    <input type="text" placeholder="Email" th:field="*{email}">
    <label>Choose a Username</label>
    <li class="little">minimum 6 characters</li>
    <input type="text" placeholder="Username" th:field="*{userId}">
    <label>Choose a Unique Password</label>
    <li class="little">minimum 6 characters</li>
    <input type="password" placeholder="Password" th:field="*{password}">
    
    
    <button class="ccbtn" type="submit">Create Account</button>
    
      
</form>
<a href="/"><button class="ccbtn">Cancel</button></a>



</div>


</body>
</html>