<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        <form action="#" class="container1" th:action="@{/userLogin}" th:object="${loginUser}" method="post">
            <h1>Login</h1>
           <label for="email"><b>Email</b></label>
           <input type="text" placeholder="Username" th:field="*{email}">
           <label for="email"><b>User Name</b></label>
           <input type="text" placeholder="Username" th:field="*{name}">
           <label for="email"><b>Login ID</b></label>
            <input type="text" placeholder="Username" th:field="*{userId}">
            <label>Password</label>
            <input type="password" placeholder="Password" th:field="*{password}">
    
            <button type="submit" class="btn">Login</button>
            <a href="/"></a><button class="ccbtn">Cancel</button>
           
  
        </form>
    </div>
</body>
</html>