<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>
        Questions:
    </h1>
    <table>
        <tr>
            <td>


                <table>
                    <thead>
                        <tr>
                            <strong>
                                <h8>Pick all that apply</h8>
                            </strong>
                            <p th:text="${question.question}"></p>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="#" th:action="@{/question}" th:object="${question}" method="post">
                            <input type="hidden" th:text="*{id}">
                            <tr th:each="value, iterStat : ${question.answerDto}">
                                <td>

                                    <input type="checkbox" th:checked="${value}"
                                        th:field="${question.answerDto[__${iterStat.index}__].selected}">


                                </td>
                                <td th:text="${value.answer}"></td>


                            </tr>
                            <button type="submit">Next</button>
                        </form>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tr th:each="score : ${scoreboard}">
                        <td>
                        <td th:text="${score.score}"></td>
                        <td th:text="${score.petType}"></td>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>

</body>

</html>